body {
    margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
#map { height: 400px; }
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../images/pattern-bg-desktop.png") no-repeat;
  background-size: cover;
  padding:20px;
  /* margin:-50px; */

    h1 {
        color: #FFF;
    }
}
#searchForm {
  display: flex;
  width: 100%;
  max-width: 550px;
  margin: 2rem auto;

  input {
    flex: 1;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    border: none;
    outline: none;

    border-radius: 14px 0 0 14px;

    &::placeholder {
      color: #999;
    }
  }

  button {
    width: 54px;
    background: #000;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 16px 16px 0;

    transition: background 0.2s ease;

    &:hover {
      background: #2b2b2b;
    }

    .arrow {
      color: #fff;
      font-size: 1.75rem;
      line-height: 1;
    }
  }
}

ul {
    position:relative;
    z-index: 2;
    list-style: none;
    margin:0 auto;
    padding:0;
    width: 550px;
    max-width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

        @media (min-width: 800px) {
            flex-direction: row;
        }

    flex-grow:0;
    justify-content:center;
    align-items: stretch;
    text-align: center;
    background:white;

    li {
        padding:10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: .8rem;
            color: grey;
        }
        p {
            font-size: 1.5rem;
        }
    }
}