body {
    margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
#map { height: 400px; }
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../images/pattern-bg-desktop.png") no-repeat;
  background-size: cover;
}
#searchForm {
  display: flex;
  width: 100%;
  max-width: 550px;
  margin: 2rem auto;

  input {
    flex: 1;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    border: none;
    outline: none;

    border-radius: 16px 0 0 16px;

    &::placeholder {
      color: #999;
    }
  }

  button {
    width: 54px;
    background: #000;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 16px 16px 0;

    transition: background 0.2s ease;

    &:hover {
      background: #2b2b2b;
    }

    .arrow {
      color: #fff;
      font-size: 1.75rem;
      line-height: 1;
    }
  }
}



// UNCOMMENT TO TEST THAT THE CSS FILE IS STILL WORKING

$primary-color: #3498db;

body {
  background-color: $primary-color;
  h1 {
    color: white;
  }
}
