html,
body {
  margin: 0;
  height: 100%;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main > section:last-child {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
#map {
  height: 100%;
  padding-top: 80px;
  min-height: 400px;
  flex: 1 1 auto;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../images/pattern-bg-desktop.png") no-repeat;
  background-size: cover;
  padding: 20px;
  @media (min-width: 800px) {
    position: relative;
    padding-bottom: 80px;
  }

  h1 {
    color: #fff;
    margin-bottom: 0;
  }
}
#searchForm {
  display: flex;
  width: 100%;
  max-width: 550px;
  margin: 1.5rem auto;

  input {
    flex: 1;
    padding: 1.25rem 0 1.25rem 1.25rem;
    font-size: 1.15rem;
    border: none;
    outline: none;
    border-radius: 14px 0 0 14px;

    &::placeholder {
      color: #999;
    }
  }

  button {
    width: 54px;
    background: #000 url("../../images/icon-arrow.svg") center center no-repeat;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 16px 16px 0;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: #3F3F3F;
    }

    .arrow {
      color: #fff;
      font-size: 1.75rem;
      line-height: 1;
    }
  }
}

ul {
  position: relative;
  z-index: 2;
  list-style: none;
  width: 800px;
  max-width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0;

  @media (min-width: 800px) {
    flex-direction: row;
    flex-grow: 1;
    padding: 1rem;

    position: absolute;
    top:70%;

    width: 900px;
    max-width: 90%;
    background: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);

    z-index: 1001;
  }

  flex-grow: 0;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  background: white;

  li {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 800px) {
      padding: 0.7rem 1.5rem;
      align-items: start;
      flex: 1;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        right: 0;
        top: 15%;
        height: 70%;
        width: 1px;
        background-color: #dbdbdb;
      }

      &:last-child::after {
        display: none;
      }
    }

    h2 {
      font-size: 0.7rem;
      color: grey;
      margin: 10px 0;
      text-transform: uppercase;
    }
    p {
      font-size: 1.5rem;
      margin: 0;
      font-weight: 700;
      text-align: left;
    }
  }
}
